.card {
    height: 200px;
    width: 137px;
    background-size: contain;
    background-repeat: no-repeat;
}

#table {
    display: flex;
    justify-content: space-evenly;
    height: 220px;
    border: 2px solid black;
    background-color: green;
    //height: 33vh;
}

#player {
 // height: 33vh;
}

#player .card {
  //height: 2000px;
  // width: 1370px;
  // flex-shrink: 6;
}
